<section class="contact" id="contact">
  <div class="container contact__container">
    <div class="contact__header">
      <h2 class="title contact__title">Помочь проекту</h2>
      <p class="contact__descr">Равным образом, экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения прогресса профессионального сообщества. Как принято считать, элементы политического процесса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. </p>
    </div>
    <form action="#" class="callback-form contact__form" novalidate="novalidate">
      <label class="form-label">
        <input type="text" name="name" placeholder="Имя" class="form-input form-input--name">
      </label>
      <label class="form-label">
        <input type="email" name="email" placeholder="Email" class="form-input form-input--email">
      </label>
      <button class="btn-reset btn btn--primary form-submit">Отправить</button>
    </form>
  </div>
</section>
