<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container">
      <ul class="list-reset social footer__social">
        <li class="social__item">
          <a href="#" class="social__link" aria-label="Youtube">
            <svg>
              <use xlink:href="img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" aria-label="Instagram">
            <svg>
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#tw"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
      <p class="copyright">f&b ® 2020</p>
  </div>
</footer>
