<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Галерея</h2>
  <div class="container gallery__container">
    <div class="swiper gallery-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card">
            <div class="card__image">
              <div class="card__image-number">
                <span>2.4</span>
              </div>
              <img src="./img/layer-1.png" alt="Растение">
            </div>
            <div class="card__content">
              <h3 class="card__title">Fig. 1 (plant)</h3>
              <p class="card__descr">Имеется спорная точка зрения, гласящая примерно следующее: активно
                развивающиеся страны третьего мира своевременно верифицированы.</p>
              <button class="btn-reset btn card__btn">Подробнее</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card">
            <div class="card__image">
              <div class="card__image-number">
                <span>3.1</span>
              </div>
              <img src="./img/layer-2.png" alt="Растение">
            </div>
            <div class="card__content">
              <h3 class="card__title">Fig. 2 (flower)</h3>
              <p class="card__descr">Прежде всего, синтетическое тестирование влечет за собой процесс внедрения и модернизации условий.</p>
              <button class="btn-reset btn card__btn">Подробнее</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card">
            <div class="card__image">
              <div class="card__image-number">
                <span>1.2</span>
              </div>
              <img src="./img/layer-3.png" alt="Растение">
            </div>
            <div class="card__content">
              <h3 class="card__title">Fig. 3 (leaf)</h3>
              <p class="card__descr">Лишь непосредственные участники прогресса неоднозначны и будут в равной степени предоставлены сами себе для работы.</p>
              <button class="btn-reset btn card__btn">Подробнее</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card">
            <div class="card__image">
              <div class="card__image-number">
                <span>1.4</span>
              </div>
              <img src="./img/layer-4.png" alt="Растение">
            </div>
            <div class="card__content">
              <h3 class="card__title">Fig. 4 (wood)</h3>
              <p class="card__descr">Базовый вектор развития не даёт нам иного выбора, кроме определения новых предложений.</p>
              <button class="btn-reset btn card__btn">Подробнее</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card">
            <div class="card__image">
              <div class="card__image-number">
                <span>2.4</span>
              </div>
              <img src="./img/layer-1.png" alt="Растение">
            </div>
            <div class="card__content">
              <h3 class="card__title">Fig. 1 (plant)</h3>
              <p class="card__descr">Имеется спорная точка зрения, гласящая примерно следующее: активно
                развивающиеся страны третьего мира своевременно верифицированы.</p>
              <button class="btn-reset btn card__btn">Подробнее</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card">
            <div class="card__image">
              <div class="card__image-number">
                <span>3.1</span>
              </div>
              <img src="./img/layer-2.png" alt="Растение">
            </div>
            <div class="card__content">
              <h3 class="card__title">Fig. 2 (flower)</h3>
              <p class="card__descr">Прежде всего, синтетическое тестирование влечет за собой процесс внедрения и модернизации условий.</p>
              <a href="#" class="btn-reset btn card__btn">Подробнее</a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="gallery-controlls">
      <button class="btn-reset swiper-button-prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-slider"></use>
        </svg>
      </button>
      <div class="swiper-pagination"></div>
      <button class="btn-reset swiper-button-next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-slider"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
