<section class="hero">
  <div class="container hero__container">
    <div class="hero__content" data-scroll-item data-animation="fade_from_right">
      <h1 class="hero__title">Крупнейшая коллекция природных артефактов</h1>
      <p class="hero__descr">Являясь всего лишь частью общей картины, интерактивные прототипы, которые
        представляют собой яркий пример европейского типа политической и социальной культуры.</p>
      <a href="#" class="link hero__link">Исследовать
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
